/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "airborneColors";
.roll{
  background:white;
}

@include player(rebel, One, $rebelColor);
@include player(loyalist,Two,$loyalistColor);
//@include player(loyalGuards,Three,$loyalistGuardColor);
@include headerColor(Rebel, $rebelColor, $rebelColor);
@include headerColor(Loyalist, $loyalistColor, $loyalistColor);
@include unitColor(loyalGuards, $loyalistGuardColor);

@include specialColor(Rebel, $rebelColor, white);
@include specialColor(Loyalist, $loyalistColor, white);


#gameImages .a-unit-wrapper{
  position:absolute;
  z-index:1;

}
#crtDetails{
  display:block;
}

.selected {
  background:rgba(255,255,0,.6);
}
.pinned{
  background: rgba(255,0,255,.6)
}
.die-roll{
  background: cyan;
}

.unit .unit-steps {
  position: absolute;
  top: 0px;
  width: 5px;
  word-wrap: break-word;
  line-height: 4px;
}

#deployBox .unit {
  border: solid 3px;
  border-color: #cccccc #666666 #666666 #cccccc;
}

.rel-unit{
  position:relative;
}

#crt {
  width:680px;
  #odds, .roll{
    span{
      width:45px;
    }
  }
  .crt-table-name{
    display:none;
  }
}

#OBC{
  width:800px;
}
#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'serif';
}

.unit{
  .unitSize{
    height:9px;
  }
  .counterWrapper{
    height:11px;
    .counter-symbol{
      stroke:black;
      margin-left:7px;
      display:block;
    }
  }
}
#angCrtDetailsButton{
  cursor:pointer;
}
.unit.loyalGuards{
  .couterWrapper .couter-symbol{
    stroke:white;
  }
}
#TECWrapper #TEC {
  padding-bottom:15px;
  width:700px;
  ul {
    width: 600px;
    margin-left: 10px;
    li {
      clear:both;
      padding: 20px 5px 34px 0px;

      &.row-one .column-image {
        background-position: 0px 0px;
      }
      &.row-two .column-image {
        background-position: 0px -55px;
      }
      &.row-three .column-image {
        background-position: 0px -110px;
      }
      &.row-four .column-image {
        background-position: 0px -165px;
      }
      &.row-five .column-image {
        background-position: 0px -220px;
      }
      &.row-six .column-image {
        background-position: 0px -303px;
      }
      &.row-seven .column-image {
        background-position: 0px -412px;
      }
      &.row-eight .column-image {
        background-position: 0px -522px;
      }
      &.row-nine .column-image {
        background-position: 0px -605px;
      }
    }
    .column-image {
      float: left;
      width: 94px;
      height: 56px;
      background-image: url('../../js/AirborneTEC.png');
      background-repeat: no-repeat;

    }
    .column-one {
      float: left;
      width: 24%;
      padding-right: 4%;
      padding-top: 10px;
    }
    .column-two {
      float: left;
      width: 24%;
      padding-right: 4%;
    }
    .column-three {
      float: left;
      width: 24%;
    }
  }
}