/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "airborneColors";
.roll{
  background:white;
}

@include player(rebel, One, $rebelColor);
@include player(loyalist,Two,$loyalistColor);
//@include player(loyalGuards,Three,$loyalistGuardColor);
@include headerColor(Rebel, $rebelColor, $rebelColor);
@include headerColor(Loyalist, $loyalistColor, $loyalistColor);
@include unitColor(loyalGuards, $loyalistGuardColor);

@include specialColor(Rebel, $rebelColor, white);
@include specialColor(Loyalist, $loyalistColor, white);


#gameImages .a-unit-wrapper{
  position:absolute;
  z-index:1;

}
.unit-wrapper{
  .a-unit-wrapper{
    position:static;
    float:left;
    margin:3px 3px 0 0;
  }
}

#crtDetails{
  display:block;
}

.rel-unit{
  position:relative;
}

#crt {
  font-size:14px;
  width:800px;
  #odds, .roll{
    span{
      width:55px;
    }
  }
  .crt-table-name{
    display:none;
  }
}

#OBC{
  width:800px;
}

#infoWrapper .WrapperLabel {
  width: auto;
}

.unit{
  .unit-steps {
    position: absolute;
    top: 0px;
    width: 5px;
    word-wrap: break-word;
    line-height: 4px;
    color:black;
  }
  .unitSize{
    height:9px;
  }
  &.supply{
    .counterWrapper{
      height:20px;
      .counter-symbol{
        color:black;
        margin-left:6px;
        display:block;
        font-size:21px;
      }
    }
  }
  .counterWrapper{
    height:11px;
    .counter-symbol{
      color:black;
      margin-left:10px;
      display:block;
      font-size:14px;
    }
  }
  &.loyalGuards{
    .couterWrapper .couter-symbol{
      stroke:white;
    }
  }
}

#angCrtDetailsButton{
  cursor:pointer;
}

.mapSymbols {
  margin-top:-7px;
  margin-left:5px;
  .supply-hex {
    font-size: 25px;
    background: transparent;
    &.rebel {
      color: #66ff66;
    }
    &.loyalist {
      color: #6666ff;
    }
  }
}

#deployBox{
  .unit {
    border: solid 3px;
    border-color: #cccccc #666666 #666666 #cccccc;
  }
  .deploy-zone-wrapper{
    width:19%;
    float:left;
    margin-right:5px;
    margin-left:5px;
  }
}

#TECWrapper #TEC {
  padding-bottom:15px;
  width:700px;
  ul {
    width: 600px;
    margin-left: 10px;
    li {
      clear:both;
      padding: 20px 5px 34px 0px;

      &.row-one .column-image {
        background-position: 0px 0px;
      }
      &.row-two .column-image {
        background-position: 0px -55px;
      }
      &.row-three .column-image {
        background-position: 0px -110px;
      }
      &.row-four .column-image {
        background-position: 0px -165px;
      }
      &.row-five .column-image {
        background-position: 0px -220px;
      }
      &.row-six .column-image {
        background-position: 0px -303px;
      }
      &.row-seven .column-image {
        background-position: 0px -412px;
      }
      &.row-eight .column-image {
        background-position: 0px -522px;
      }
      &.row-nine .column-image {
        background-position: 0px -605px;
      }
    }
    .column-image {
      float: left;
      width: 94px;
      height: 56px;
      background-image: url('../../js/AirborneTEC.png');
      background-repeat: no-repeat;

    }
    .column-one {
      float: left;
      width: 24%;
      padding-right: 4%;
      padding-top: 10px;
    }
    .column-two {
      float: left;
      width: 24%;
      padding-right: 4%;
    }
    .column-three {
      float: left;
      width: 24%;
    }
  }
}

#arrow-svg .range-hex {
  stroke:black;
  fill-opacity: .1;
  display:none;
}