/*
Error: Invalid CSS after "  background": expected ";", was ": rgb(132, 181,..."
        on line 678 of ../../commonStyle.scss
        from line 21 of all.scss

673:   left: 220px;
674: }
675: 
676: .roll, #odds {
677:   padding-top: 
678:   background: rgb(132, 181, 255);
679:   margin-right: 14px
680: }
681: 
682: #odds {
683:   background: white;

Backtrace:
../../commonStyle.scss:678
all.scss:21
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:757:in `block in try_declaration'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:1137:in `call'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:1137:in `rethrow'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:762:in `try_declaration'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:692:in `declaration_or_ruleset'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:309:in `to_tree'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/Users/david/.rvm/gems/ruby-2.2.0/bin/scss:23:in `load'
/Users/david/.rvm/gems/ruby-2.2.0/bin/scss:23:in `<main>'
/Users/david/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/david/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  background\": expected \";\", was \": rgb(132, 181,...\"\A         on line 678 of ../../commonStyle.scss\A         from line 21 of all.scss\A \A 673:   left: 220px;\A 674: }\A 675: \A 676: .roll, #odds {\A 677:   padding-top: \A 678:   background: rgb(132, 181, 255);\A 679:   margin-right: 14px\A 680: }\A 681: \A 682: #odds {\A 683:   background: white;"; }
