/*
Error: Undefined mixin 'player'.
        on line 22 of larothiere1814.scss, in `player'
        from line 22 of larothiere1814.scss

17: 
18: $prussianNapColor: #003AF3;
19: $bavarianWrapperColor: #4287FA;
20: $bavarianColor: #FD0013;
21: 
22: @include player(Russian ,Two , $russianColor, $russianWrapperColor);
23: @include player(French, One, $frenchColor, #0003b4, $frenchColor);
24: @include unitColor(Russian, $russianWrapperColor, Rus);
25: 
26: .french.specialHexes{
27:   background-color: $frenchColor;

Backtrace:
larothiere1814.scss:22:in `player'
larothiere1814.scss:22
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:98:in `with_mixin'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/bin/scss:23:in `load'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/bin/scss:23:in `<main>'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/bin/ruby_executable_hooks:15:in `eval'
/Users/david_rodal/.rvm/gems/ruby-2.0.0-p576/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'player'.\A         on line 22 of larothiere1814.scss, in `player'\A         from line 22 of larothiere1814.scss\A \A 17: \A 18: $prussianNapColor: #003AF3;\A 19: $bavarianWrapperColor: #4287FA;\A 20: $bavarianColor: #FD0013;\A 21: \A 22: @include player(Russian ,Two , $russianColor, $russianWrapperColor);\A 23: @include player(French, One, $frenchColor, #0003b4, $frenchColor);\A 24: @include unitColor(Russian, $russianWrapperColor, Rus);\A 25: \A 26: .french.specialHexes{\A 27:   background-color: $frenchColor;"; }
