/**
 *
 * Copyright 2012-2015 David Rodal
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* Unit Styles */

@mixin player($nationality, $player, $color, $faceColor: $color, $desigColor: white){
  .player#{$nationality}{
    background:$color;
    border-color:$color !important;
  }

  .player#{$player}{
    background:$color;
    border-color:$color !important;
  }

  .#{$nationality}Face, .player#{$nationality}Face{
    color:$faceColor;
  }

  .#{$player}.combatants{
    color:$faceColor;
  }

  .#{$nationality} {
    background-color: $color;
    .unit-desig{
      color: $desigColor;
    }
  }

}
@include player(rebel, One, rgb(223, 88, 66));
@include player(loyalist, Two, rgb(132, 181, 255));


@mixin specialColor($nationality, $background,  $foreground) {

  /*
   * these are for the +5 vps when you kill a unit
   */
  .specialHexesVP .#{$nationality}VictoryPoints {
    @include victoryPoints($background);
    color:$foreground;
  }

  /*
   * These are for when you capture a town
   * the vps aquired
   */
  .specialHexesVP .#{$nationality}{
    color:$foreground;
    background:$background;
  }
  /*
   * These are the static state of a town
   * and for the change message
   */
  .specialHexes.#{$nationality}{
    background:$background;
    color:$foreground;
  }

}

@import "tmcwUnits";
@import "tmcwBoxes";
@import "tmcwSpecialVP";



@mixin unitColor($nationality, $color) {
  .#{$nationality} {
    background-color: $color;
  }
  .#{$nationality} .counterWrapper {
    background-color: $color;
  }
}


