#main-viewer header#header {
  position: static;
  width: 100%;
  padding-bottom: 0px;
  z-index: 2000;
  #headerContent {
    .right-wrapper{
      float:right;
    }
    #mouseMove {
      display: none;
    }



    .top-menu {
      h1, h2, h3, h4, input, button{
        font-weight: bold;
      }
      font-weight: bold;
      font-size: 30px;
      float: left;
      margin-right: 10px;
      border-right: 1px solid black;
      @media(max-width: 800px){
        border-right:none;
      }
      padding-right: 10px;
      &.alpha {
        padding-left: 10px;
      }
    }



    @media(max-width: 800px){

    }
    #zoomWrapper {
      #zoom {
        .defaultZoom {
          cursor: pointer;
        }
      }
    }

    .dropDownSelected {
      background: white;
      color:black;
    }



    .dropDown {
      #logWrapper{

        padding: 4px 17px;
        background: white;

        li{
          border-bottom: 1px solid #ccc;
          margin: 0px 16px;
          list-style: none;
          padding: 10px 0px;
        }
      }
    }

    #infoWrapper, #menuWrapper {
      -webkit-touch-callout: none;
      .WrapperLabel {
        margin: 0;
        border: none;
        -webkit-touch-callout: none;
        cursor: pointer;
        /*width:3em;*/
      }
      li {
        list-style-type: none;
        padding: 5px 10px 5px 10px;
        border: 0 solid black;
        border-width: 1px 1px 0 1px;
        a, a:visited {
          color: #333;
          text-decoration: none;
        }
      }
    }

    #menu {
      font-weight: 400;
      ul {
        margin: 0;
        padding: 0;
      }
      background: white;
      color: #333;
    }

    #phaseDiv, #statusDiv, #chatsDiv, #victoryDiv {
      display: inline;
      vertical-align: top;
      /*float:left;*/
    }

    #TimeWrapper {
      float: left;
      -webkit-touch-callout: none;
      .WrapperLabel {
        .small {
          font-size: 10px;
        }
        margin: 0;
        border: none;
        -webkit-touch-callout: none;
        cursor: pointer;
        /*width:3em;*/
      }

      #Time {
        ul {
          margin: 0;
          padding: 0;
        }
        padding: 10px;
        font-weight: 500;
        .go-buttons{
          margin-bottom:20px;
        }
        .timetime-button-wrapper{
          &.alpha{
            border-right: 1px solid #333;
          }
          @extend .text-center;
        }
        background: white;
        width: 600px;
        cursor: move;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 10px 10px 10px rgba(30, 30, 30, .85);
        position: absolute !important;
        z-index: 30;
        display: none;
        #phaseClicks {
          display: none;
          cursor: pointer;
          .newPhase {
            min-width: 10px;
            height: 40px;
            border-left: 1px solid red;
            display: inline-block;
            margin-bottom: 10px;
          }
          .newTick {
            text-align: center;
            margin-top: 10px;
            width: 15px;
            height: 10px;
            border-left: 1px solid black;
            display: inline-block;
            font-size: 10px;
            &.tickShim {
              width: 0px;
            }
            &:hover {
              background: #999;
              color: #fff;
            }
            &.activeTick {
              background-color: #666;
              a {
                background-color: #666;
                color: white;
              }
            }

          }
        }
        .time-button{
          min-width:50px;
        }
        .fancy-time-button{
          font-size:16px;
          display: inline-block;
          border: 5px solid gray;
          padding: 3px 5px;
          margin: 0 5px;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }

    .dropDown {
      font-weight: bold;
      cursor: pointer;
      .dropDownContent {
        background: white;
        position: absolute;
        z-index: 30;
        display: none;
      }
      .WrapperLabel {
        margin: 0;
        border: none;
        small{
          color: #333;
        }
      }
      margin-right: 10px;
      padding-right: 10px;

      .subMenu {
        font-size: 24px;
        position: absolute;
        z-index: 30;
        display: none;
        background: white;
        & > ul {
          margin: 0;
          padding: 0;
          z-index: 30;
          font-size: 50px;
          & > li {
            background: white;
            border: 1px solid #333;
          }
        }

        /* .dropDowns may not exist inside a ul */
        .dropDown {
          float: none;
          position: static;
          display: inline-block;
          border: none;
        }

      }
    }



    .units-menu-enter-active{
      transition: max-height .5s;
      max-height:100px
    }
    .units-menu-enter{
      max-height:0px;
    }


    #nextPhaseWrapper {
      float: right;
      .dynamicButton, #nextPhaseButton, #fullScreenButton, #forceMarchEvent, #determinedAttackEvent, #clearCombatEvent, #shiftKey, #debug {
        font-size: 28px;
        position: static;
        &.debugButton{
          display:inline-block;
        }
      }
    }


    #phaseClicks a {
      color: black;
    }


    #GR {
      ol {
        counter-reset: item;
        padding-left: 10px;
      }
      li {

        &:before {
          content: "[" counters(item, ".") "] ";
          counter-increment: item;
          font-weight: bold;
        }

        margin: 3px 0;
        display: block;
        font-size: 16px !important;
        font-weight: normal !important;
      }
      .topNumbers {
        counter-reset: item -1;
        & > li {
          border-top:silver 2px solid;
          padding-top:10px;
          margin-top:30px;
          &:before {
            content: "[" counters(item, ".") ".0] ";
            font-size: 19px;
          }
          li {
            margin-top:20px;

            &:before {
              font-size: 18px;
            }
            li {
              margin-top:15px;
              padding-top:0px;
              border:none;
              &:before {
                font-size: 16px;
              }
              li{
                margin-top:10px;
                &:before {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      h4 {
        margin-bottom: 5px;
      }
      #credits {
        font-size:16px;
        font-weight:normal;
        h2 {
          color: #338833;
          font-weight:bold;
        }
        h4 {
          margin-bottom: 0px;
          font-size:16px;
          font-weight:bold;
        }
      }

      background: white;
      max-height: 500px;
      min-height: 100px;
      overflow-y: auto;
      padding: 0 20px 10px;

    }

  }

  a {
    color: #333;
  }
  a:hover {
    color: #999 !important;
  }

  h2 {
    margin: 10px 0 5px;
  }


  #TEC {
    max-height: 500px;
    overflow: auto;
  }
  #victory {
    padding: 0;
  }
}



#turnCounter, #gameTurnCounter {
  width: 32px;
  height: 32px;
  font-size: 11px;
  text-indent: 0px;
  top: 2px;
  left: 2px;
  text-align: center;
  border: 2px solid;
  border-color: #ccc #666 #666 #ccc;
  background-color: rgb(0,128,0);
  color:white;

}

.unit-wrapper {
  padding: 4px 7px 4px 7px;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  border-radius: 10px;
  border: 10px solid #555;
  background: #999;
  margin-bottom: 5px;
  position: relative;
}

#deadpile {
  border-radius: 10px;
  border: 10px solid #555;
  height: 70px;
  background: #333;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}
#deadpile-wrapper{
  border-radius: 10px;
  border: 10px solid #555;
  background: #333;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}
#deployBox {
  position: relative;
  font-family: serif;
}


.bug-report{
  display:none;
  position:absolute;
  left:33%;
  top:33%;
  z-index: 1000;
  background: rgba(255,255,255,.9);
  padding:25px;
  text-align:center;
}

.col-xs-6{
  box-sizing: border-box;
  width:50%;
  float:left;
  &::after{
    content:' ';
    clear:both;
  }
}
.cool-box {
  font-size: 22px;
  background: rgb(255, 255, 255);
  padding: 10px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.time-left{
  float:left;
}
.time-right{
  float:right;
}

#VC ul {
  margin: 0;
  padding: 0
}

#OBC {
  background: white;
  width: 514px;
}

#OBC .unit {
  margin-top: 10px;
}

#TEC {
  background: white;
  width: 579px;
}

#VC {
  background: white;
  width: 579px;
  left: -230px;
}

#statusWrapper {
  float: right;
  background: white;
}


#TEC ul {
  margin: 0;
  padding: 0
}



#info ul {
  margin: 0;
  padding: 0;
}

#info {
  background: white;
  color: #333;
  width: 10em;
  font-weight: 400;
}





#clickCnt {
  display: inline-block;
  padding: 3px;
}

#OBCWrapper h4 {
  /*width:2em;*/
}

#OBC, #crt, #TEC, #VC, #jump, #menu, #info, #GR {
  position: absolute;
  z-index: 30;
  display: none;
}

#TEC, #menu, #info {
  font-size: 20px !important;
}

.game-rules h4:hover {
  text-decoration: none;
}
.game-rules p{
  font-size:18px;
  font-weight: normal;
}

#altTable, #mainTable, #detTable {
  position: absolute;
  right: 18px;
  cursor: pointer;
}

#comlinkWrapper {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  padding: 0 2px 0 2px;
  font-style: italic;
  font-size: 10px;
  float: right;
}

#topStatus {
  float: right;
}

#muteButton, #arrowButton {
  cursor: pointer;
  text-decoration: underline;
}


fieldset {
  background: white;
  border-radius: 9px;
}

#OBC fieldset {
  float: left;
  min-height: 100px;
}

.swooshy {
  background: black;
  color: #eee;
}

.status-corner, #turn, #phase, #status, #victory {
  background: white;
  padding: 0 3px;
  font-family: sans-serif;
}

.game-name {
  word-break: break-all;
}


.closer {
  height: 0px;
  padding: 0px !important;
}

.ruleComment {
  font-style: italic;
  margin-left: 10px;
  color: #999;
}
