@import "scss/constants";
@import "scss/mixins";
@import "scss/header";
@import "scss/content";
@import "scss/crt";
@import "scss/unit";
@import "scss/utils";
body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: $darkBlack;
}

#header, #gameViewer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  .game-id{
    -webkit-user-select: all;
    -moz-user-select: all;
    -moz-user-select: -moz-all;
    -ms-user-select: all;
    user-select: none;
    word-wrap:break-word;
  }
  #headerContent{
    #GRWrapper {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      cursor: text;
    }
  }

}







@media screen and (min-width: 0px) {
  .tablet {
    display: none !important;
  }
}

@keyframes fade{
  0% {
    width:71px;
    opacity:.5;
  }
  30% {
    width:71px;
    margin-top:0px;
    margin-left:0px;
    opacity:.5;
  }
  100%{
    width:261px;
    margin-left:-95px;
    margin-top:-95px;
    opacity: 0.1;
  }

}

@keyframes breath{
  0% {
    width:71px;
  }
  50%{
    width:161px;
    margin-left:-45px;
    margin-top:-45px;

  }
  100% {
    width:71px;
    margin-left:0px;
    margin-top:0px;
  }
}

