@mixin headerColor($nationality, $color, $faceColor: $color){
  .player#{$nationality}{
    background:$color;
    border-color:$color !important;
  }
  .#{$nationality}Face, .player#{$nationality}Face{
    color:$faceColor;
  }
}

@mixin victoryPoints($color) {
  text-shadow: 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 10px $color;
}

$arrowColor: red;
$arrowHead: red;
$darkBlack: #333;
$stdFont: 16px;

body {
  min-width: 675px;
  margin: 0;
  padding: 0;
}

h2 #status {
  font-size: 16px;
}

h5 {
  margin: 0px;
}

.shadowy {
  background-color: rgba(0, 0, 0, .3) !important;

}
.red-shadowy {
  background-color: rgba(255, 0, 0, .8) !important;
  font-size:9px;
  color:white;
  height:50%;
}
.red-shadowy:hover{
  background-color: transparent !important;
  color:transparent;
}

#turn, #phase, #status, #victory {
  background: white;
  padding: 0 3px;
  font-family: sans-serif;
}

#victory {
  padding: 0;
}

#floatMessage {
  white-space: nowrap;
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, .9);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, .85);
  z-index: 4;
  padding: 0 5px;
  cursor: move;
}

#floatMessage header {
  font-size: 35px;
}

#altTable, #mainTable, #detTable {
  position: absolute;
  right: 18px;
  cursor: pointer;
}

#comlinkWrapper {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  padding: 0 2px 0 2px;
  font-style: italic;
  font-size: 10px;
  float: right;
}

#topStatus {
  float: right;
}

#muteButton, #arrowButton {
  cursor: pointer;
  text-decoration: underline;
}

.specialHexes, .specialHexesVP {
  position: absolute;
  text-transform: capitalize;
  background: yellow;
  opacity: .8;
  border-radius: 0px;
  border: 0px;
  font-size: 16px;
  z-index: 0;
}

.specialHexesVP {
  background: transparent !important;
  color: white;
  font-size:60px;
  pointer-events: none;
}

#display {
  display: none;
  position: fixed;
  top: 25%;
  width: 90%;
  left: 5%;
  padding: 30px 0;
  background: rgba(255, 255, 255, .9);
  font-size: 100px;
  text-align: center;
  border: #000 solid 10px;
  border-radius: 30px;
  z-index: 4;
}

.flashMessage {
  position: fixed;
  width: 80%;
  background: rgba(255, 255, 255, .9);
  text-align: center;
  border-radius: 30px;
  border: 10px solid black;
  font-size: 100px;
  z-index: 1000;
  pointer-events: none;
}

#display button {
  font-size: 30px;
}

#header {
  position: static;
  width: 100%;
  padding-bottom: 0px;
  z-index: 2000;
  #headerContent {
    #mouseMove {
      display: none;
    }



    .dropDown, #zoomWrapper {
      font-size: 30px;
      float: left;
      margin-right: 10px;
      border-right: 1px solid black;
      padding-right: 10px;
      &.alpha {
        padding-left: 10px;
      }
    }

    #crtWrapper {
      border-right: 1px solid black;
      padding-right: 10px;
      margin-right: 10px;
    }

    #zoomWrapper {
      font-size: 30px;
      #zoom {
        .defaultZoom {
          cursor: pointer;
        }
      }
    }

    .dropDownSelected {
      background: white;
      color:black;
    }

    .dropDown .WrapperLabel {
      margin: 0;
      border: none;
      cursor: pointer;
    }

    .dropDown .dropDownContent {
      background: white;
      position: absolute;
      z-index: 30;
      display: none;
    }

    .dropDown {
      #logWrapper{

        padding: 4px 17px;
        background: white;

        li{
          border-bottom: 1px solid #ccc;
          margin: 0px 16px;
          list-style: none;
          padding: 10px 0px;
        }
      }
    }

    #infoWrapper, #menuWrapper {
      -webkit-touch-callout: none;
      .WrapperLabel {
        font-size: 30px;
        margin: 0;
        border: none;
        -webkit-touch-callout: none;
        cursor: pointer;
        /*width:3em;*/
      }
      li {
        list-style-type: none;
        padding: 5px 10px 5px 10px;
        border: 0 solid black;
        border-width: 1px 1px 0 1px;
        a, a:visited {
          color: #333;
          text-decoration: none;
        }
      }
    }

    #menu {
      ul {
        margin: 0;
        padding: 0;
      }
      background: white;
      color: #333;
    }

    #infoWrapper {
      .WrapperLabel {
      }
    }

    #phaseDiv, #statusDiv, #chatsDiv, #victoryDiv {
      display: inline;
      vertical-align: top;
      /*float:left;*/
    }

    #TimeWrapper {
      float: left;
      -webkit-touch-callout: none;
      .WrapperLabel {
        font-size: 30px;
        .small {
          font-size: 10px;
        }
        margin: 0;
        border: none;
        -webkit-touch-callout: none;
        cursor: pointer;
        /*width:3em;*/
      }

      #Time {
        ul {
          margin: 0;
          padding: 0;
        }
        background: white;
        width: 600px;
        cursor: move;
        background: rgba(255, 255, 255, .9);
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 10px 10px 10px rgba(30, 30, 30, .85);
        padding: 0 5px;
        position: absolute;
        z-index: 30;
        display: none;
        #phaseClicks {
          display: none;
          cursor: pointer;
          .newPhase {
            min-width: 10px;
            height: 40px;
            border-left: 1px solid red;
            display: inline-block;
            margin-bottom: 10px;
          }
          .newTick {
            text-align: center;
            margin-top: 10px;
            width: 15px;
            height: 10px;
            border-left: 1px solid black;
            display: inline-block;
            font-size: 10px;
            &.tickShim {
              width: 0px;
            }
            &:hover {
              background: #999;
              color: #fff;
            }
            &.activeTick {
              background-color: #666;
              a {
                background-color: #666;
                color: white;
              }
            }

          }
        }
        #click-back, #click-surge, .time-button {
          font-size: 22px;
          letter-spacing: -3px;
        }
      }
    }

    .dropDown {
      .subMenu {
        font-size: 20px;
        position: absolute;
        z-index: 30;
        display: none;
        background: white;
        & > ul {
          margin: 0;
          padding: 0;
          z-index: 30;
          font-size: 50px;
          & > li {
            background: white;
            border: 1px solid #333;
          }
        }
        .dropDown {
          border: none;
        }

        /* .dropDowns may not exist inside a ul */
        .dropDown {
          float: none;
          font-size: 24px;
          cursor: pointer;
          position: static;
          font-weight: bold;
          display: inline-block;
        }

      }
    }

    #nextPhaseWrapper {
      float: right;
      .dynamicButton, #nextPhaseButton, #fullScreenButton, #forceMarchEvent, #determinedAttackEvent, #clearCombatEvent, #shiftKey, #debug {
        font-size: 28px;
        position: static;
        &.debugButton{
          display:inline-block;
        }
      }
    }


    #phaseClicks a {
      color: black;
    }
    #GR {
      ol {
        counter-reset: item;
        padding-left: 10px;
      }
      li {

        &:before {
          content: "[" counters(item, ".") "] ";
          counter-increment: item;
          font-weight: bold;
        }

        margin: 3px 0;
        display: block;
        font-size: 16px !important;
        font-weight: normal !important;
      }
      .topNumbers {
        counter-reset: item -1;
        & > li {
          border-top:silver 2px solid;
          padding-top:10px;
          margin-top:30px;
          &:before {
            content: "[" counters(item, ".") ".0] ";
            font-size: 19px;
          }
          li {
            margin-top:20px;

            &:before {
              font-size: 18px;
            }
            li {
              margin-top:15px;
              padding-top:0px;
              border:none;
              &:before {
                font-size: 16px;
              }
              li{
                margin-top:10px;
                &:before {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      h4 {
        margin-bottom: 5px;
      }
      #credits {
        font-size:16px;
        font-weight:normal;
        h2 {
          color: #338833;
          font-weight:bold;
        }
        h4 {
          margin-bottom: 0px;
          font-size:16px;
          font-weight:bold;
        }
      }

      background: white;
      max-height: 500px;
      min-height: 100px;
      overflow-y: auto;
      padding: 0 20px 10px;

    }

  }

  a {
    color: #333;
  }
  a:hover {
    color: #999 !important;
  }

  h2 {
    margin: 10px 0 5px;
  }
}








.clear {
  clear: both !important;
  float: none !important;
}

#statusDiv {

}

body {

}

#header, #theDiv, #gameViewer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  .game-id{
    -webkit-user-select: all;
    -moz-user-select: all;
    -moz-user-select: -moz-all;
    -ms-user-select: all;
    user-select: none;
    word-wrap:break-word;
  }
}

.game-rules h4:hover {
  text-decoration: none;
}
.game-rules p{
  font-size:18px;
  font-weight: normal;
}

#statusWrapper {
  float: right;
}

#crtWrapper {
  float: left;
  .WrapperLabel {
    font-size: 30px;

    margin: 0;
    border: none;
    -webkit-touch-callout: none;
    cursor: pointer;
    /*width:3em;*/
  }
  -webkit-touch-callout: none;

}

#crt {
  width: 308px;
}

#crtWrapper h4 .goLeft, #crtWrapper h4 .goRight {
  font-size: 22px;
  padding: 0 10px;
}

#TEC ul {
  margin: 0;
  padding: 0
}



#info ul {
  margin: 0;
  padding: 0;
}

#info {
  background: white;
  color: #333;
  width: 10em;
}

.close {
  position: absolute;
  border: 1px solid #ccc;
  right: 3px;
  top: 3px;
  color: #ccc;
  font-size: 11px;
  line-height: 12px;
  cursor: pointer;
}

#VC ul {
  margin: 0;
  padding: 0
}

#OBC {
  background: white;
  width: 514px;
}

#OBC .unit {
  margin-top: 10px;
}

#OBC .unit .shadow-mask {
  /*background-color:rgba(0,0,0,.3);*/
}



#TEC {
  background: white;
  width: 579px;
}

#VC {
  background: white;
  width: 579px;
  left: -230px;
}

#clickCnt {
  display: inline-block;
  padding: 3px;
}

#OBCWrapper h4 {
  /*width:2em;*/
}

#OBC, #crt, #TEC, #VC, #jump, #menu, #info, #GR {
  position: absolute;
  z-index: 30;
  display: none;
}

#TEC, #menu, #info {
  font-size: 20px !important;
}

.closer {
  height: 0px;
  padding: 0px !important;
}

#crt {
  z-index: 40;
}

body {
  background: #eee;
  color: $darkBlack;
}

#status {
  /*height:70px;*/
  /*overflow-y:scroll;*/
  /*text-align:right;*/
}

#status legend {
  /*text-align:left;*/
}

fieldset {
  background: white;
  border-radius: 9px;
}

#OBC fieldset {
  float: left;
  min-height: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#crt {
  border-radius: 15px;
  border-width: 10px;
  border-style: solid;
  /*border:10px solid rgb(132,181,255);*/
  background: #fff;
  color: black;
  font-weight: bold;
  padding: 1px 5px 10px 15px;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, .85);
  .crt-table-name{
    color:#aaa;
    font-style:italic;
    margin-top:-15px;
    font-size:13px;
  }
  #crt-buttons{
    cursor:pointer;
    .switch-crt{
      position:absolute;
      right:19px;
      top:3px;
    }
  }
  .crt-odds{
    font-size:16px;
  }
  #crtDetails{
    text-align:right;
    float:left;
  }
}



#crt h3 {
  vertical-align: bottom;
}

#crt span {
  width: 32px;
}

.col1 {
  left: 20px;
}

.col2 {
  left: 60px;
}

.col3 {
  left: 100px;
}

.col4 {
  left: 140px;
}

.col5 {
  left: 180px;
}

.col6 {
  left: 220px;
}

.roll, #odds {
  padding-top: 3px;
  margin-right: 14px
}

#odds {
  background: white;
}

.even {
  color: black;
}

.odd {
  color: black;
}

.row1 {
  top: 80px;

}

.row2 {
  top: 100px;
  background: white;
}

.row3 {
  top: 120px;
}

.row4 {
  top: 140px;
  background: white;
}

.row5 {
  top: 160px;
}

.row6 {
  top: 180px;
  background: white;
}

.roll span, #odds span {
  margin-right: 10px;
  float: left;
  display: block;
  width: 32px;
}
#content {
  margin-top: 140px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  #gameImages {
    position: relative;
    overflow: visible !important;
  }

  #gameViewer {
    position: fixed;
    background: #ccc;
    margin-bottom: 5px;
    width: 100%;
  }
}


#leftcol {
  /*float:left;
  width:360px;*/
}

#rightCol {
  /*float:right;*/
  overflow: hidden;
}

#gameturnContainer {
  height: 38px;
  position: relative;
  float: left;
}

#gameturnContainer div {
  float: left;
  height: 36px;
  width: 36px;
  border: solid black;
  border-width: 1px 1px 1px 0;
  font-size: 18px;
  text-indent: 2px;
}



#gameturnContainer #turn1 {
  border-width: 1px;
}

#turnCounter {
  width: 32px;
  height: 32px;
  font-size: 11px;
  text-indent: 0px;
  top: 2px;
  left: 2px;
  text-align: center;
  border: 2px solid;
  border-color: #ccc #666 #666 #ccc;

}

#deadpile {
  border-radius: 10px;
  border: 10px solid #555;
  height: 70px;
  background: #333;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  /*display:none;*/
}

#deployBox {
  position: relative;
  font-family: serif;
}



.unit {
  &.pushed .shadow-mask {
    background-color: rgba(0, 0, 0, .5) !important;

  }
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 32px;
  height: 32px;
  border: solid 3px black;
  .shadow-mask {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 1;
    &.red-shadowy{
      height:50%;
    }
  }
  .unit-numbers {
    text-align: center;
    color: black;
  }
  .unitSize {
    font-size: 9px;
    text-align: center;
    color: black;
  }
  .unit-numbers {
    height: 12px;
    font-size: 11px;
  }

}

.arrowClone, .arrow , .heading{
  position: absolute;
  pointer-events: none;
  z-index: 25;
  top: 0px;
  width: 100%;
  height: 100%;
}

.clone {
  /*pointer-events:none;*/
}

.occupied {
  display: none;
}

#TEC {
  max-height: 500px;
  overflow: auto;
}

#crtDetailsButton {
  font-size: 20px;
  cursor: pointer;
}

#crtDetails {
  display: none;
}

.game-name {
  word-break: break-all;
}

.unitOdds {
  position: absolute;
  background: white;
  color:black;
  border-radius: 10px;
  left: 15px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 70%;
  z-index: 26;
  border: 1px solid #999;
  padding: 0 5px;
  &:hover {
    background: transparent;
    color: transparent;
    border-color: transparent;
  }
  &.altColor {
    background: #00ec00;
    &:hover {
      background: transparent;
    }
  }
  &.determinedColor {
    background: red;
    color: white;

  }
  &.pinnedColor {
    background: #ff00ff;
    color: white;
    &:hover {
      background: transparent;
      color: transparent;
    }
  }
}


svg {
  z-index: 1;
  g.unit-path {
    opacity: .6;
    fill: $arrowColor;
    stroke: $arrowColor;
    &:hover, &.hover {
      z-index:3000;
      fill: #26d5ff;
      stroke: #26d5ff;
      opacity: 1.0;
    }
  }
  marker#head {
    fill: $arrowHead;
  }
}
.negative{
  color:#ECECEC;
  background:black;
}

.ruleComment {
  font-style: italic;
  margin-left: 10px;
  color: #999;
}

.big {
  font-size: 19px;
  font-weight: bold;

}

.swooshy {
  background: black;
  color: #eee;
}

@media screen and (min-width: 1025px) {
  .tablet {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .tablet {

  }
  #nextPhaseWrapper button, .dropDown,#zoomWrapper{
    &#fullScreenButton i{
      min-width:66px;
    }
    height:66px;
    line-height: 66px;
    .game-rules{
      line-height:normal;
      height:auto;
    }
  }
  #crtWrapper{
    height:66px;
    .WrapperLabel{
      line-height: 66px;
    }
  }
  .desktop {
    display: none;
  }
  #click-back, #click-surge {
    font-size: 45px;
    width: 45px;
  }

  #deployWrapper .unit {
  }
  .dropDown, #zoomWrapper {
  }
  #nextPhaseWrapper {
    #nextPhaseButton, #fullScreenButton {

    }
  }
}

.mapSymbols{
  position:absolute;
  color:white;
  background-color: transparent;
  margin-top:-31px;
  margin-left:-36px;
}
.row-hex{
  width:71px;
}
.armor{
  width:30px;
  margin-botton:5px;
}
.mapFlashSymbols{
  position:absolute;
  color:white;
  background-color: transparent;
  margin-top:-31px;
  margin-left:-36px;
}
@keyframes fade{
  0% {
    width:71px;
    opacity:.5;
  }
  30% {
    width:71px;
    margin-top:0px;
    margin-left:0px;
    opacity:.5;
  }
  100%{
    width:261px;
    margin-left:-95px;
    margin-top:-95px;
    opacity: 0.1;
  }

}

@keyframes breath{
  0% {
    width:71px;
  }
  50%{
    width:161px;
    margin-left:-45px;
    margin-top:-45px;

  }
  100% {
    width:71px;
    margin-left:0px;
    margin-top:0px;
  }
}
.row-hex{
  //animation: fade 2s alternate infinite;
}

.unit-wrapper {
  padding: 4px 7px 4px 7px;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  border-radius: 10px;
  border: 10px solid #555;
  background: #999;
  margin-bottom: 5px;
  position: relative;
}

.bug-report{
  display:none;
  position:absolute;
  left:33%;
  top:33%;
  z-index: 1000;
  background: rgba(255,255,255,.9);
  padding:25px;
  text-align:center;
}