/*
Error: File to import not found or unreadable: amphColors.
       Load path: /Users/david/game-dispatcher/resources/assets/sass/font-awesome
        on line 21 of playMulti.scss

16:  *  GNU General Public License for more details.
17:  *
18:  *  You should have received a copy of the GNU General Public License
19:  *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
20:  *\/
21: @import "amphColors";
22: @import "../commonPlay";
23: .Loyalist {
24:   color:darken($loyalistColor,20%);
25: }
26: 

Backtrace:
playMulti.scss:21
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/import_node.rb:45:in `import'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/david/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/Users/david/.rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/Users/david/.rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
/Users/david/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/david/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: amphColors.\A        Load path: /Users/david/game-dispatcher/resources/assets/sass/font-awesome\A         on line 21 of playMulti.scss\A \A 16:  *  GNU General Public License for more details.\A 17:  *\A 18:  *  You should have received a copy of the GNU General Public License\A 19:  *  along with this program.  If not, see <http://www.gnu.org/licenses/>.\A 20:  */\A 21: @import \"amphColors\";\A 22: @import \"../commonPlay\";\A 23: .Loyalist {\A 24:   color:darken($loyalistColor,20%);\A 25: }\A 26: "; }
