@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import 'vue-header';
@import 'vue-mixins';
@import 'vue-misc';
@import 'vue-crt';
@import 'vue-rules';
body{
  font-family: Montserrat, sans-serif;
  .mirror{
    transform: rotate(180deg);
  }
}
$arrowColor: red;
$arrowHead: red;
$darkBlack: #333;
svg {
  z-index: 1;
  g.unit-path {
    opacity: .6;
    fill: $arrowColor;
    stroke: $arrowColor;
    &:hover, &.hover {
      z-index:3000;
      fill: #26d5ff;
      stroke: #26d5ff;
      opacity: 1.0;
    }
  }
  marker#head {
    fill: $arrowHead;
  }
}