@import "mollwitz-mixins";
@import "mollwitz-colors";

@include unitColor(British, $angloAlliedWrapperColor, Ang, white);

@include unitColor(Native, $angloAlliedWrapperColor, Native, white);
@include unitColor(Royal,$britishWrapperColor, Brit, white);

@include unitColor(French,$frenchWrapperColor, French);
@include unitColor(NapFrench, $frenchNapoleonWrapperColor, FrenchNap, white);

@include unitColor(NapAllied, $russianWrapperColor, Rus, white);
@include unitColor(Allied, $angloAlliedWrapperColor, Ang);


@include unitColor(Sikh, $beluchiWrapperColor, Sikh, white);
@include unitColor(Beluchi,$beluchiWrapperColor, Sikh, white);
@include unitColor(SaxonPolish,$russianWrapperColor, Rus);
@include unitColor(Saxon, #FD4223, Saxon);

@include unitColor(Austrian, $austrianWrapperColor, Aus);
@include unitColor(Prussian,$prussianWrapperColor, Pru, white);
@include unitColor(Russian, $russianWrapperColor, Rus, white);
@include unitColor(AngloAllied,$angloAlliedWrapperColor, Ang);
@include unitColor(Anglo,$angloAlliedWrapperColor , Ang, white);
@include unitColor(Swedish, $swedishWrapperColor, Swe, white);

@include unitColor(NapPrussian, $prussianNapColor, PruNap, white);
@include unitColor(Nassau, $prussianNapColor, Nassau, white);


@include unitColor(Guard, $frenchNapoleonWrapperColor, FrenchNap, white);
@include unitColor(Bavarian, $bavarianWrapperColor, Bavarian);
@include unitColor(NapSaxon, white, Sax);


@include unitColor(German, $prussianNapColor, PruNap, white);


@include unitColor(Italian, white, Sax);
@include unitColor(RoyalGuard, white, Sax);


@include unitColor(American, $rebelWrapperColor, Rebel, white);

@include unitColor(Hessian, $russianWrapperColor, Rus, white);
@include unitColor(Portuguese, $prussianNapColor, PruNap, white);
@include unitColor(Loyalist, $angloAlliedWrapperColor, Ang, white   );

@include unitColor(Rebel, $rebelWrapperColor, Rebel, white);
@include unitColor(Militia,  $rebelWrapperColor, Rebel, white);
@include unitColor(Dutch,  $prussianWrapperColor, Pru, white);


@include unitColor(FrenchSaxon, $frenchSaxonWrapperColor, Fre, white);

@include unitColor(Danish,  $danishWrapperColor, Danish);

@include pontoon(Swedish, Swe);
@include pontoon(SaxonPolish, Saxon);
@include wagon(Swedish);

.NapFrench, .Guard{
  &.unit .unit-numbers{
    color:red;
  }
}




@include player(British, $angloAlliedColor,$angloAlliedColor, white);
@include player(Sikh,  $beluchiColor, $beluchiWrapperColor, white);
@include player(Beluchi,  $beluchiColor, $beluchiWrapperColor, white);
@include player(Austrian,  $austrianColor,  $austrianColor, white);
@include player(Imperials,  $austrianColor,  $austrianColor, white);
@include player(Prussian,  $prussianColor,  $prussianWrapperColor, white);

@include player(Allies, $angloAlliedColor, $angloAlliedWrapperColor, white)
@include player(Anglo , $angloAlliedColor, $angloAlliedWrapperColor);
@include player(French, $frenchColor, $frenchColor, white);

@include player(French-Saxon, $frenchColor, $frenchColor, white);
@include player(Anglo-Allied, $angloAlliedColor,$angloAlliedColor, white);


@include player(Allied, $angloAlliedColor, $angloAlliedColor, white);
@include player(Austrian-Russian-Bavarian-Allies, $russianColor, $russianColor, white);

@include player(Russian, $russianColor, $angloAlliedWrapperColor, white);
@include player(Prussian-Russian-Allies, $russianColor,  $angloAlliedWrapperColor, white);

@include player(Saxon-Russian,  #FD4223, #FD4223);
@include player(Swedish, $swedishColor, $swedishColor);
@include player(Danish,  $danishColor, $danishColor);
@include player(Danes,  $danishColor, $danishColor);
@include player(Saxon-Polish,  #FD4223, #FD4223, white);
@include player(Rebel, $rebelColor, $rebelWrapperColor, white);
@include player(Loyalist , $angloAlliedColor,$angloAlliedColor);
@include player(American, $rebelColor, $rebelWrapperColor, white);

@include player(Martians, pink, fuchsia, white);
@include player(Venutians, lime, blue, white);