
.guard-unit{
  display:none;
}



.Guard.unit .guard-unit{
  display:block;
  position:absolute;
  width:6px;
  right:13px;
  background:yellow;
  color:black;
  font-size:7px;
  top:16px;
  word-wrap:break-word;
  height:16px;
  &.infoLen7{
    right:16px;
  }
}

.vintage.Guard.unit{
  p.range{
    top:-8px;
  }
  p.forceMarch{
    top: -11px;
  }
  .guard-unit{
    width:12px;
    right:0px;
    font-size:8px;
    top:1px;
  }

}



.unitOdds {
  &.altColor {
    background: #00ec00;
    &:hover {
      background: transparent;
    }
  }
  &.determinedColor {
    background: red;
    color: white;
    &:hover {
      background: transparent;
      color: transparent;
    }
  }
  &.pinnedColor {
    background: #ff00ff;
    color: white;
    &:hover {
      background: transparent;
      color: transparent;
    }
  }
}

.unit {
  border: solid black;
  border-width: 3px;
  .counterWrapper{
    border: solid black 1px;
    height: $badge-size;
    .fa-flag{
      color:white;
    }
    div.counter{
      width: $badge-size;
      height: $badge-size;
      display: block;
      border-right: 1px solid black;
    }
  }

  p.forceMarch, p.range {
    position: absolute;
    top: -19px;
    right: 2px;
    display: none;
    color: black;
    text-transform: lowercase;
  }

  p.range {
    font-size: 15px;
    top: -15px;
    right: 5px;
    display: block;
    color: black;
  }

  .unit-numbers{
    border: 1px solid black;
    border-top-width: 0px;
    height: $unit-numbers-size;
    line-height: $unit-numbers-size;;
    font-size: $unit-numbers-size !important;
    background: white;
    font-weight: bold;
    font-family: serif;

    .infoLen5{
      font-size:14px;
    }
    .infoLen7{
      font-size: 13px;
      letter-spacing: -1px;
    }
    .infoLen8{
      font-size: 12px;
      letter-spacing: -1px;
    }
    .infoLen9{
      font-size: 11px;
      letter-spacing: -1px;
    }
  }
}

.vintage.unit {
  .counterWrapper {
    height: $vintage-badge-size;

    div.counter {

      width: $vintage-badge-size;
      height: $vintage-badge-size;
    }
  }

  p.forceMarch{
    right: 0px;
    top:-17px;
  }
  p.range {
    right: 2px;
    top:-13px;
  }
  .unit-numbers {
    border: 1px solid black;
    border-top-width: 0px;
    height: $vintage-unit-numbers-size;
    line-height: $vintage-unit-numbers-size;
    font-size: $vintage-unit-numbers-size+2 !important;
    background: white;
    font-weight: bold;
    font-family: serif;
    .infoLen5{
      font-size: 12px;
      letter-spacing: 0px;
    }
    .infoLen7 {
      font-size: 11px;
      letter-spacing: 0px;
    }
    .infoLen8 {
      font-size: 9px;
      letter-spacing: 0px;
    }
  }
}

.Prussian.unit {
  .range {
    color: white;
  }
  .forceMarch{
    color:white;
  }
}