
$austrianColor: #df5842;
$austrianWrapperColor: white;
$prussianColor: #f2f053;
$prussianWrapperColor: #0117de;
$rebelColor: #d4d300;
$rebelWrapperColor: #0117de;
$angloAlliedColor: #df5842;
$angloAlliedWrapperColor: #f00;
$britishColor: $angloAlliedColor;
$britishWrapperColor: $angloAlliedWrapperColor;
$frenchColor: #93d0ff;
$frenchNapoleonColor: #84b5ff;
$frenchNapoleonWrapperColor: #0003b4;
$frenchWrapperColor: white;
$frenchSaxonWrapperColor: #9f9f9f;
$russianColor: #4cb800;
$russianWrapperColor: #006114;
$beluchiColor: #c68100;
$beluchiWrapperColor: #c6c102;
$swedishColor: #FECC00;
$swedishWrapperColor: #006AA7;
$swedishTextColor: #0494e7;
$saxonColor: #FD4223;
$danishColor: #ff3f1f;
$danishWrapperColor: #bfbfbf;
$bavarianWrapperColor: #4287FA;
$prussianNapColor: #003AF3;
