
$badge-size: 14px;
$vintage-badge-size:19px;
$unit-numbers-size:16px;
$vintage-unit-numbers-size:10px;

@mixin unitColor($nationality, $color, $shortName, $rangeNumber:black) {
  @include badge($nationality, $shortName);
  .#{$nationality} {
    .counterWrapper {
      background-color: $color;
    }
    .forceMarch, .range, .fa-flag{
      color:$rangeNumber;
    }
  }
}

@mixin headerColor($nationality, $color, $faceColor: $color){
  .player#{$nationality}{
    background:$color;
    border-color:$color !important;
  }
  .#{$nationality}Face, .player#{$nationality}Face{
    color:$faceColor;
  }

  .#{$nationality}.combatants{
    color: $faceColor;
    font-style:italic;
  }

  .specialHexesVP .#{to-lower-case($nationality)} {
    background: transparent;
    @include victoryPoints($faceColor);
  }

  .#{to-lower-case($nationality)}.specialHexes{
    background-color: $faceColor;
  }

  .specialHexesVP .#{$nationality}.victory-points{
    @include victoryPoints($faceColor);
  }
}


@mixin player($nationality,  $color, $faceColor: $color, $specialColor: black) {
  .player#{$nationality} {
    background: $color;
    border-color: $color !important;
  }

  .#{$nationality}Face, .player#{$nationality}Face {
    color: $faceColor;
  }


  .#{$nationality}.combatants{
    color: $faceColor;
    font-style:italic;
  }

  .specialHexesVP .#{to-lower-case($nationality)} {
    background: transparent;
    @include victoryPoints($faceColor);
  }

  .#{to-lower-case($nationality)}.specialHexes{
    background-color: $faceColor;
    color: $specialColor;
  }

  .specialHexesVP .#{$nationality}.victory-points{
    @include victoryPoints($faceColor);
  }

}


@mixin makeGuard($nationality){
  .#{$nationality}.unit .guard-unit{
    display:block;
    position:absolute;
    width:6px;
    right:13px;
    background:yellow;
    color:black;
    font-size:7px;
    top:16px;
    word-wrap:break-word;
    height:16px;
    &.infoLen7{
      right:16px;
    }
  }
  .vintage.#{$nationality}.unit{
    .range{
      top:-8px;
    }
    .forceMarch{
      top: -11px;
    }
    .guard-unit{
      width:12px;
      right:0px;
      font-size:8px;
      top:0px;
      height:8px;
    }
  }

}
@mixin pontoon($nationality, $shortName){
  .vintage{
    &.#{$nationality}.pontoon {
      .counterWrapper {
        border:none;
        .counter {

          background-color: lightgreen;
          background-image: url('badges/#{$shortName}Pontoon.png');
          background-size: 32px;
          width: 32px;
          height: 32px;
          border:none;
        }
      }
      .unit-numbers {
        display:none;
      }
    }
  }
  .#{$nationality}.pontoon {
    .counterWrapper {
      border:none;
      .counter {

        background-color: lightgreen;
        background-image: url('badges/#{$shortName}Pontoon.png');
        background-size: 32px;
        width: 32px;
        height: 32px;
        border:none;
      }
    }
    .unit-numbers {
      display:none;
    }
  }
}
@mixin badge($nationality, $shortName) {
  .fa-flag{
    display:none;
  }
  .#{$nationality}.hq .counterWrapper .counter {
    display:none;
  }
  .vintage{
    &.#{$nationality}.hq .counterWrapper .fa-flag {
      font-size:19px;
    }
    &.#{$nationality}.infantry .counterWrapper .counter {
      background-image: url('badges/#{$shortName}InfBadge.png');
      background-size: $vintage-badge-size;
    }
    &.#{$nationality}.cavalry .counterWrapper .counter {
      background-image: url('badges/#{$shortName}CavBadge.png');
      background-size: $vintage-badge-size;
    }

    &.#{$nationality}.artillery .counterWrapper .counter {
      background-image: url('badges/#{$shortName}ArtBadge.png');
      background-size: $vintage-badge-size;
    }
    &.#{$nationality}.horseartillery .counterWrapper .counter {
      background-image: url('badges/#{$shortName}HorArtBadge.png');
      background-size: $vintage-badge-size;
    }


  }
  .#{$nationality}.infantry .counterWrapper .counter {
    background-image: url('badges/#{$shortName}InfBadge.png');
    background-size: $badge-size;
  }
  .#{$nationality}.cavalry .counterWrapper .counter {
    background-image: url('badges/#{$shortName}CavBadge.png');
    background-size: $badge-size;
  }

  .#{$nationality}.artillery .counterWrapper .counter {
    background-image: url('badges/#{$shortName}ArtBadge.png');
    background-size: $badge-size;
  }
  .#{$nationality}.horseartillery .counterWrapper .counter {
    background-image: url('badges/#{$shortName}HorArtBadge.png');
    background-size: $badge-size;
  }
  .#{$nationality}.hq .counterWrapper .fa-flag {
    display:block;
    font-size:14px;
  }


}
@mixin wagon($nationality){
  .#{$nationality}.wagon .counterWrapper .counter {
    background-image: url('badges/Wagon.png');
    background-size: $badge-size;
  }
}

@mixin victoryPoints($color) {
  text-shadow: 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 1px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 2px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 3px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 4px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 6px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 7px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 8px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 9px $color, 0px 0px 10px $color, 0px 0px 10px $color, 0px 0px 10px $color;
}