/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "mollwitz-mixins";
@import "mollwitz-colors";
@import "mollwitz-units";
@import "mollwitz-game-rules";
@import "mollwitz-crt";

@include unitColor(Sikh, $beluchiWrapperColor, Sikh);
@include unitColor(Beluchi,$beluchiWrapperColor, Sikh);
@include unitColor(British,$britishWrapperColor, Brit);
@include unitColor(SaxonPolish,$russianWrapperColor, Rus);
@include unitColor(Native,$britishWrapperColor, Native);
@include unitColor(Austrian, $austrianWrapperColor, Aus);
@include unitColor(Prussian,$prussianWrapperColor, Pru);
@include unitColor(Russian, $russianWrapperColor, Rus);
@include unitColor(French,$frenchWrapperColor, French);
@include unitColor(AngloAllied,$angloAlliedWrapperColor, Ang);
@include unitColor(Anglo,$angloAlliedWrapperColor , Ang);
@include unitColor(Allied, $angloAlliedWrapperColor, Ang);
@include unitColor(Swedish, $swedishWrapperColor, Swe);
@include unitColor(Native, $angloAlliedWrapperColor, Native);

.left {
  float: left;
  margin-right: 15px;
}

.specialHexes.russian {
  color: white;
  background-color: $russianColor;
}
.specialHexes.saxon.polish {
  color: white;
  background-color: $russianColor;
}

.specialHexesVP .austrian, .specialHexesVP .anglo {
  background: transparent;
  @include victoryPoints($austrianColor);
}

.specialHexesVP .prussian {
  color: black;
  background: transparent;
  @include victoryPoints($prussianColor);

}

.specialHexesVP .british {
  color: white;
  background: transparent;
  @include victoryPoints($britishColor);

}

.specialHexesVP .russian {
  color: white;
  background: transparent;
  @include victoryPoints($russianColor);
}

.specialHexesVP .french {
  color: white;
  background: transparent;
  @include victoryPoints($frenchColor);
}

.specialHexesVP .beluchi {
  color: white;
  background: transparent;
  @include victoryPoints($beluchiWrapperColor);
}

.austrian.specialHexes {
  background-color: $austrianColor;
  color: white;
}

.prussian.specialHexes , .swedish.specialHexes{
  background-color: $prussianColor;
  color: black;
}

.specialHexesVP .Swedish.victory-points{
  @include victoryPoints($swedishWrapperColor);
}

.specialHexesVP .Saxon.Russian.victory-points{
  @include victoryPoints($russianWrapperColor);
}

.specialHexesVP .Rebel.victory-points{
  @include victoryPoints($prussianWrapperColor);
}

.specialHexesVP .Loyalist.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}

.specialHexesVP .French.victory-points{
  @include victoryPoints($frenchColor);
}

.specialHexesVP .Allied.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}

.specialHexesVP .Sikh.victory-points{
  @include victoryPoints($beluchiColor);
}

.specialHexesVP .Beluchi.victory-points{
  @include victoryPoints($beluchiColor);
}

.specialHexesVP .British.victory-points{
  @include victoryPoints($britishWrapperColor);
}

.specialHexesVP .Prussian.victory-points{
  @include victoryPoints($prussianWrapperColor);
}

.specialHexesVP .Austrian.victory-points{
  @include victoryPoints($austrianColor);
}

.specialHexesVP .Allies.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}
.specialHexesVP .Allied.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}
.specialHexesVP .Russian.victory-points{
  @include victoryPoints($russianColor);
}
.specialHexesVP .Danish.victory-points{
  @include victoryPoints($danishColor);
}
.specialHexesVP .AngloAllied.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}
.specialHexesVP .Anglo.Allied.victory-points{
  @include victoryPoints($angloAlliedWrapperColor);
}
#arrow-svg{
  display:block;
}

.cas-row{
  display:inline-block;
  width:150px;
}